{% extends "basiclayout.html" %}
{% block body %}

<div id="mainBody">
<div class="container">
	<hr class="soften">
	<h1>Visit us</h1>
	<hr class="soften"/>
	<div class="row">
		<div class="span4">
		<h4>Contact Details</h4>
		<p>	Bulandshahr<br/>Scheme Number 136, Indore<br/> Madhya Pradesh<br/> 452010
			<br/><br/>
			ravina@gmail.com<br/>
			﻿Tel 91794 24433<br/>
		</p>
		</div>

		<div class="span4">
		<h4>Opening Hours</h4>
			<h5> Monday - Friday</h5>
			<p>12–7pm<br/><br/></p>
			<h5>Saturday</h5>
			<p>12–7pm<br/><br/></p>
			<h5>Sunday</h5>
			<p>closed<br/><br/></p>
		</div>
		<div class="span4">
		<h4>Email Us</h4>
		<form class="form-horizontal">
        <fieldset>
          <div class="control-group">

              <input type="text" placeholder="name" class="input-xlarge"/>

          </div>
		   <div class="control-group">

              <input type="text" placeholder="email" class="input-xlarge"/>

          </div>
		   <div class="control-group">

              <input type="text" placeholder="subject" class="input-xlarge"/>

          </div>
          <div class="control-group">
              <textarea rows="3" id="textarea" class="input-xlarge"></textarea>

          </div>

            <button class="btn btn-large" type="submit">Send Messages</button>

        </fieldset>
      </form>
		</div>
	</div>
	<div class="row">
	<div class="span12">

  <small><a href="https://www.google.com/maps/place/Handmade+creations/@22.7653547,75.8816336,16.48z/data=!4m5!3m4!1s0x396303b235dcca91:0xf961e4ca2c2388f8!8m2!3d22.7663591!4d75.8818934" style="color:#0000FF;text-align:left"><h1>Check Location for our Shop</h1></a></small>
	</div>
	</div>
</div>
</div>
<!-- MainBody End ============================= -->

{% endblock %}